# ignore terraform related files
*.tfvars
*/**/*.tfvars

*.tfstate
*/**/*.tfstate

*.tfstate.backup
*/**/*.tfstate.backup

# ignore terraform directories
.terraform
*/**/.terraform

# ignore env file
.env
*/**/.env

# ignore plan output file
*.out
*/**/*.out

*.out.json
*/**/*.out.json
